.profile_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(min-width:768px) {
    .profile_page{
        flex-direction: row;
        justify-content: flex-start;
    }
}