.flex_container_content {
  position: relative;
  height: 100vh;
}

.section_about {
  background-color: #dde8f0;
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 10px;
  max-width: 740px;
}
.container h1 {
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  color: #1e2532;
  z-index: 1;
}
.container p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
  text-align: center;
  color: #1e2532;
  z-index: 1;
}

.container_svg {
  display: none;
}
.container_svg img {
  display: none;
}
.container_svg .succlent {
  display: none;
}
.container_svg .cuboid {
  display: none;
}
.container_svg .bigplant {
  display: none;
}

.purple_elips {
  position: absolute;
  z-index: 0;
  width: 320px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 504px;
  background: radial-gradient(50% 50% at 50% 50%, #edeaff 0%, rgba(196, 196, 196, 0) 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yellow_elips {
  display: none;
}

@media (min-width: 768px) {
  .flex_container_content {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .container_svg {
    display: block;
    position: relative;
  }
  .container_svg img {
    display: block;
    position: relative;
    z-index: 1;
  }
  .container_svg .billsitting {
    width: 400px;
  }
  .container_svg .succlent {
    display: block;
    position: absolute;
    top: 30%;
    right: 70%;
    width: 44px;
  }
  .container_svg .cuboid {
    display: block;
    position: absolute;
    top: 27%;
    right: 14%;
    width: 64px;
  }
  .container_svg .bigplant {
    display: block;
    position: absolute;
    top: 57%;
    right: 5%;
    width: 125px;
  }
  .purple_elips {
    width: 400px;
    left: 150px;
  }
  .yellow_elips {
    display: block;
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 504px;
    flex-shrink: 0;
    border-radius: 504px;
    background: radial-gradient(50% 50% at 50% 50%, #fdffea 0%, rgba(196, 196, 196, 0) 100%);
    top: 150px;
  }
  .container {
    max-width: 740px;
  }
  .container h1 {
    font-size: 26px;
    line-height: 25px;
    max-width: 740px;
    letter-spacing: 1.8px;
    margin-bottom: 8px;
  }
  .container p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  .flex_container_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .container_svg img {
    position: relative;
    z-index: 1;
  }
  .container_svg .billsitting {
    width: 509px;
  }
  .container_svg .succlent {
    top: 29%;
    right: 70%;
    width: 66px;
  }
  .container_svg .cuboid {
    top: 28%;
    right: 11%;
    width: 94px;
  }
  .container_svg .bigplant {
    top: 55%;
    right: 0%;
    width: 185px;
  }
  .purple_elips {
    width: 496px;
    left: 150px;
    top: unset;
    transform: unset;
  }
  .yellow_elips {
    position: absolute;
    z-index: 0;
    width: 496px;
    height: 504px;
    flex-shrink: 0;
    border-radius: 504px;
    background: radial-gradient(50% 50% at 50% 50%, #fdffea 0%, rgba(196, 196, 196, 0) 100%);
    top: 150px;
  }
  .container {
    max-width: 740px;
  }
  .container h1 {
    font-size: 46px;
    line-height: 48px;
    max-width: 740px;
    letter-spacing: 1.8px;
    margin-bottom: 8px;
  }
  .container p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 24px;
    max-width: 600px;
  }
}
@media (min-width: 1366px) {
  .container_svg img {
    position: relative;
    z-index: 1;
  }
  .container_svg .billsitting {
    width: 509px;
  }
  .container_svg .succlent {
    top: 29%;
    right: 70%;
    width: 66px;
  }
  .container_svg .cuboid {
    top: 28%;
    right: 11%;
    width: 94px;
  }
  .container_svg .bigplant {
    top: 55%;
    right: 0%;
    width: 185px;
  }
}/*# sourceMappingURL=About.module.css.map */